---
// Component imports
import Nav from "../components/Nav.astro";
import Layout from "../layouts/layout.astro";

// Image imports
import roshan from "../images/content/roshan.png";
import team from "../images/content/team.jpg";
---

<!-- Imports -->
<Layout />

<Nav />
<!-- Website body -->

<div class="h-screen w-full relative max-sm:absolute">
  <img src={team}  alt="" class="w-full h-2/3 object-cover  absolute bg-fixed brightness-50   "> 
  
  <div class="absolute w-full mt-20 place-self-center">
    <h1 class="text-4xl  font-extrabold text-white ml-20 ">Our Team</h1>

    <p class="text-2xl ml-20 mt-5 mr-10 font-roboto-slab text-white"> Westfield Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo vel porro, itaque, enim tenetur, quos neque eaque similique voluptatibus quod earum voluptate distinctio tempora eveniet ipsam omnis inventore reprehenderit ea? Repellat quisquam ratione reprehenderit assumenda qui eius quas sed a, deleniti nobis quam laudantium molestiae nisi corrupti delectus, magnam autem reiciendis sunt consectetur eaque! Asperiores enim, quasi nemo maiores culpa saepe porro voluptatibus commodi architecto ipsam dolores atque exercitationem consectetur..</p> 
  </div>

  
</div>

