---
import Layout from '/src/layouts/Layout.astro'
import Person from '/src/components/Cards/Person.astro'
---


<Layout>

    <!--  Mentors -->
    <h1 class="text-center font-bold text-3xl text-orange-500 mt-10 mb-10">
        Engineering 
    </h1>
    <div class="grid grid-cols-4 gap-x-10 mx-10 mb-20 gap-y-10 max-xl:grid-cols-3 max-lg:grid-cols-2 max-sm:grid-cols-1">
        <Person title="Dhayalan" label="Person">
            Hello, My name is dhayalan. Lorem ipsum dolor sit amet consectetur adipisicing elit. .
        </Person>
        <Person title="Dhayalan" label="Person">
            Hello, My name is dhayalan. Lorem ipsum dolor sit amet consectetur adipisicing elit. .
        </Person>
        <Person title="Dhayalan" label="Person">
            Hello, My name is dhayalan. Lorem ipsum dolor sit amet consectetur adipisicing elit. .
        </Person>
        <Person title="Dhayalan" label="Person">
            Hello, My name is dhayalan. Lorem ipsum dolor sit amet consectetur adipisicing elit. .
        </Person>
        <Person title="Dhayalan" label="Person">
            Hello, My name is dhayalan. Lorem ipsum dolor sit amet consectetur adipisicing elit. .
        </Person>
    </div>







</Layout>