---

---


<section class=" bg-gray-900">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center  text-white">Contact Us</h2>
        <p class="mb-8 lg:mb-16 font-light text-center  text-gray-400 sm:text-xl">Contact the  Team for any information, requests, or if you want to sponsor us. (Please give us money)</p>
        
        <form action="https://formsubmit.co/sanjayram.vempati@gmail.com" method="POST"  class="space-y-8">
            <!-- Honeypot -->
            <input type="text" name="_honey" style="display:none;">

            <!-- Disable capcha -->
            <input type="hidden" name="_captcha" value="false">
            
            <!-- <input type="hidden" name="_next" value="http://localhost:3000/success" > -->


           <!-- Name -->
           <div>
               <label for="name" class="block mb-2 text-sm font-medium  text-gray-300">Your Name/Organization</label>
               <input type="name" id="name" name="name" class="shadow-sm bg-gray-700 border  text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5  bg-gray border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500 shadow-sm-light" placeholder="First Last" required>
            </div>
            
            <!-- Email -->
            <div>
                <label for="email" class="block mb-2 text-sm font-medium  text-gray-300">Your email</label>
                <input type="email" id="email" name="email" class="shadow-sm bg-gray-700 border  text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5  bg-gray border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500 shadow-sm-light" placeholder="email@provider.com" required>
            </div>
            <!-- Subject -->
            <div>
                <label for="subject" class="block mb-2 text-sm font-medium text-gray-300">Subject</label>
                <input type="text" id="subject" name="subject" class="block p-3 w-full text-sm   rounded-lg border shadow-sm focus:ring-primary-500 focus:border-primary-500 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500 shadow-sm-light" placeholder="Title of your message" required>
            </div>
            <!-- Text -->
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium  text-gray-400">Your message</label>
                <textarea id="message" name="message" rows="6" class="block p-2.5 w-full text-sm  rounded-lg shadow-sm border  focus:ring-primary-500 focus:border-primary-500 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500" placeholder="Write your full message here"></textarea>
            </div>
        
            <button type="submit" class="py-3 px-5 text-sm bg-blue-900 font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 bg-primary-600 hover:bg-primary-700 focus:ring-primary-800">Send message</button>
        </form>
    </div>
  </section>