---
const { title } = Astro.props;

//Components
import Nav from '../components/Nav.astro';

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/robologo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <!-- Body -->
  <body class="bg-stone-800">
    <Nav></Nav>
    <slot />
  </body>
</html>
